#table-of-contents {
    display: none;
}
code {
    font-size: small;
    color:#FFF;
    border-bottom:1px solid #111;
}
code:hover {
    color:#111;
}
.creator {
    display: none;
}
.validation {
    display: none;
}