p {
    font-size: 0px;
    margin: 0;
    padding: 0;
    /*word-break: break-all;*/
    /*white-space: pre;*/
}
/*p:after {
    content: '\00AB';
    font-size: large;
}*/
p:hover {
    font-size: small;
}
